
/* Log wrapper */
.sm-console__log {
	display:flex;
	flex-direction:row;
	padding:0;
}

/* any label */
.sm-console__log__label {
	color:white;
	font-size: var(--sm-console-log-font-size, 25px);
	-unity-font-definition: resource("smidgenomics.console/{inconsolata}");
}

/* log date */
.sm-console__log__time {
	flex-grow:0;
	margin-left:var(--sm-console-spacing, var(--sm-console-default-spacing, 5px));
	margin-right:var(--sm-console-spacing, var(--sm-console-default-spacing, 5px));
	padding:0;
}

/* log body */
.sm-console__log__body {
	flex-grow:1;
	padding:0;
}