
:root {
	--sm-console-font-default:resource("smidgenomics.console/{inconsolata}");
	--sm-console-rounding-default:3px;
}

.sm-console__dropdown-menu__root {
	--divider-color:#fff7;
	/* */
	-unity-font-definition: var(--sm-console-font, var(--sm-console-font-default));
	background-color: #0003;
	color:white;
}
.sm-console__dropdown-menu__root .unity-base-dropdown__separator {
	background-color:var(--divider-color, white);
}

.sm-console__dropdown-menu__root .unity-base-dropdown__checkmark {
	-unity-background-image-tint-color: white;
}

.sm-console__dropdown-menu__container {
	border-color:var(--divider-color, white);
	border-radius: var(--sm-console-rounding, var(--sm-console-rounding-default));
}